:root {
    --centerWidth: 70%;
    --centerOffset: 0%;
    --lrwidth: calc((100% - var(--centerWidth)) / 2);
    --refcountRight: -16px;
}

#layouts .layout__center div.protyle-content:not([data-fullwidth="true"])>div.protyle-title {
    margin-left: calc(max(var(--lrwidth) + var(--centerOffset), 0%)) !important;
    margin-right: calc(max(var(--lrwidth) - var(--centerOffset), 0%)) !important;
}

#layouts .layout__center div.protyle-content:not([data-fullwidth="true"])>div.protyle-wysiwyg {
    padding-left: calc(max(var(--lrwidth) + var(--centerOffset), 0%)) !important;
    padding-right: calc(max(var(--lrwidth) - var(--centerOffset), 0%)) !important;
}

div.protyle-content:not([data-fullwidth="true"])>div.protyle-background>div.protyle-background__iconw {
    left: calc(max(var(--lrwidth) + var(--centerOffset), 0%)) !important;
}

div.protyle-content div.protyle-attr--refcount {
    right: var(--refcountRight) !important;
}

